* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
    font-size: 25px; 
}

:root {
    background-color: #000;
    font-family: Poppins, sans-serif;
    color: #fff;
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    width: 100%;
    background-color: #03091D;
    position: fixed;
    transition: 0.5s;
    
}

.navbar {
    justify-content: center;
    display: flex;
    gap: 39px;
    list-style: none;
}

.menu div {
    width: 32px;
    height: 2px;
    background-color: #FFF;
    margin: 8px;
    transition: .5s;    
}

.menu {
    display: none;
    cursor: pointer;
}

li:hover a{
    font-size: 30px;
    transition: 0.5s;
}

p {
    display: flex;
    align-items: center;
    font-size: 19px;
    padding: 40px;
    transition: 0.5s;
    margin-bottom: 20px;
    padding-top: 15px;    
}

#p {
    display: flex;
    align-items: center;
    font-size: 19px;
    padding: 40px;
    transition: 0.3s;
    margin-bottom: 20px;
    padding-top: 15px;
}

h5{
    display: none;
}

h3 {
    margin-top: 10px;
    padding-bottom: -10px;
}

.top {
    width: 100%;
    height: 90vh;
    border-radius: 0 0 270px 270px;
    background: #03091D;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


h2, button > a, #h1-2{
    background: linear-gradient(180deg, #B7285B 39.17%, #D3809D 86.04%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Roboto, sans-serif;
    font-style: normal;
}


#h1-2{
    font-weight: 600; 
    color: #FFF;
    text-align: center;
    font-size: 110px;
    font-style: normal;
}

a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

h1{
    color: #FFF;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 110px;
    font-style: normal;
    font-weight: 300;
}

h1{
    padding-top: 60px;
}

#btn-top {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

.btn {
    display: flex;
}

button {
    cursor: pointer;
    padding: 10px 40px;
    border-radius: 20px;
    border: 3px solid #B7285B;
    background: none;
    color: #B7285B; 
    transition: 0.5s;
}

button:hover{
    background-color: #050f2e;
    scale: 105%;
}

.body-margin {
    margin: 10%;
    padding-bottom: 10%;
}
.body-margin h2 {
    margin-top: 35px;
    margin-bottom: 35px;
}
.about{
    width: 80vw;
    height: 50vh;
    border-radius: 50px;
    background: #03091D; 
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.about img {
    width: 100%;
    display: flex;
    padding: 30px;
}

#about-left {
    width: auto;
    align-self: center;
}

#about-right{
    width: 200vw;
    height:auto;
}

.projects {
    display: flex;
    align-items: center;
    max-width: 150vw;
}

.card .cover1 {
    display: flex;
    height: 35vh;
    margin-bottom: 5px;
    margin-top: 100px;
}
.card .cover2 {
    display: flex;
    height: 35vh;
    margin-bottom: 5px;
    margin-top: 100px;
}

.projects .card {
    background-color: #03091D;
    width: 35vw;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
}

.projects .card .content {
    display: flex;
    transition: 0.01s;
    opacity: 0;
}

.card #port {
    display: inline-block;
    opacity: 0;
}

.card:hover .content {
    transform: translateY(-140px);
    opacity: 1;
    transition: 0.05;
}

#btn1 {
    margin-right: 15px;
}

.card:hover p {
    display: flex;
    opacity: 0;
    transition: 0.3s;
}

.contacts button {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.contacts {
    display: flex;
    align-items: center;
    max-width: 150vw;
}

.contacts div {
    width: 25vw;
    height: 10vh;
    border-radius: 64px;
    background: #03091D;
    margin-left: auto;
    margin-right: auto;
}

.cont {
    transition: 0.5s;
}

.cont:hover{
    background-color: #050f2e;
    transition: 0.5s;
    width: 27vw;
    height: 11vh;
}

.contacts img {
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 3.5%;
}

@media only screen and (max-width: 800px) {
    * {
        font-size: 18px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    h1, #h1-2{
        font-size: 50px;
    }

    body {
        overflow-x: hidden;
    }

    .navbar {
        position: absolute;
        right: 0;
        width: 100vw;
        height: 50vh;
        background-color:#03091ddd;
        flex-direction: column;
        align-items: center;
        top: 50px;
        gap: 15px;
        transform: translateY(-150%);
        transition: .5s ease-in;
    }    

    .navbar li {
        margin-left: 0;
        opacity: 0;
    }

    .navbar.active{
        transform: translateY(0);
    }

    .menu {
        display: block;
    }

    .top {
    height: 50vh;
    border-radius: 0 0 100px 100px;
    }

    h1{
        padding-top: 20px;
    }
    
    #btn-top {
        margin-top: 20px;
    }

    .about{
        width: 80vw;
        height: 85vh;
        border-radius: 50px;
        flex-direction: column;
    }
    
    .about img {
        width: 80%;
    }
    
    #about-left {
        display: flex;
        width: auto;
        align-self: center;
        justify-content: center;
    }
    
    #about-right{
        width: auto;
        height:auto;
        margin: 0 30px 30px 50px;
    }

    #about-right li {
        font-size: 15px;
    }

    .projects {
        flex-direction: column;
    }
    
    .card .cover1 {
        display: flex;
        height: 30vh;
        margin-bottom: 5px;
        margin-top: 100px;
    }
    .card .cover2 {
        display: flex;
        height: 30vh;
        margin-bottom: 5px;
        margin-top: 100px;
    }
    
    .projects .card {
        width: 80vw;
        height: 75vh;
        border-radius: 40px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .card p, #p {
        font-size: 13px;
    }

    .projects h3 {
        margin-bottom: 0px;
    }

    .projects .card .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    #btn1 {
        margin-right: 0px;
    }

    .contacts {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .contacts div {
        width: 100%;
        height: 10vh;
        border-radius: 50px;
        margin-bottom: 20px;
    }
    
    .cont:hover{
        width: 100%;
        height: 10vh;
        border-radius: 50px;
        margin-bottom: 20px;
    }

    .card .cover1 {
        display: flex;
        margin-top: 150px;
        height: 40%;
    }

    #p {
        margin-bottom: 15px;
        padding: 35px;
    }

    p {
        margin-top: 15px;
        padding-bottom: 35px;
    }

    h5 {
        margin-top: 0;
        padding: 0;
        display: flex;
        transition: 0.3s;
        margin-bottom: 50px;
    }

    .card:hover h5 {
        display: flex;
        opacity: 0;
        transition: 0.3s;
    }

    .card:hover .content {
        transform: translateY(-170px);
        opacity: 1;
        transition: 0.05;
    }
    

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateY(50px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
        
    }

    .menu.active #line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .menu.active #line2 {
    opacity: 0;
    }
    
    .menu.active #line3 {
    transform: rotate(45deg) translate(-5px, -7px);
    }

    }